*{
    margin:0;
    padding:0;
    box-sizing:border-box
}
body{font-family:"Poppins",sans-serif;
    line-height:1.6;
    color:#fff;
    background:#4a2c2a;
}
html{
    scroll-behavior:smooth;
}

/* HEADER */
.header{
  display:flex;
    justify-content:space-between;
   background-color: rgba(94, 14, 14, 0.685);
    align-items:center;
    padding:20px 8%;
    position: sticky;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* padding: 2rem 9%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}
.header .logo{
  display:flex;
    align-items:center;
    gap:10px;font-size:22px;
    font-weight:bold;
    color:#f90;
}
.header .logo img{
  width:40px
}
.nav-links{
  list-style:none;
  display:flex;
  gap:20px;
}
.nav-links a{
  text-decoration:none;
  color:#fff;
  font-weight:500;
  transition:.3s;
}
.nav-links a:hover{
    color:#f90;
}
.hero{display:flex;
    align-items:center;
    justify-content:space-between;
    padding:80px 8%;
    background-color: rgba(94, 14, 14, 0.685);
    transform:translateY(-15px)
}
.hero-content{
    max-width:50%;
}
.hero-content h1{
    font-size:42px;
    margin-bottom:20px;
}
.hero-content h1 span{
    color:#f90;
    font-style:italic;
}
.hero-content p{
    margin-bottom:25px;
    font-size:18px;
    color:#fff;
}
.btn-group a{
    padding:12px 25px;
    margin-right:15px;
    border-radius:25px;
    text-decoration:none;
    transition:0.3s;
    font-weight:bold;
}
.btn-group .order{
    background:#f90;
    color:#2c2c2c;
}
.btn-group .order:hover{
    background:#e68a00;
}
.btn-group .contact{
    transition:0.3s;
    border:2px solid #fff;
    color:#fff;
}
.btn-group .contact:hover{
    background:#fff;
    color:#2c2c2c;
}
.hero-image img{
    max-width:400px;
    animation:float 3s ease-in-out infinite;
}
section h2{
    text-align:center;
    font-size:32px;
    margin-bottom:30px;
    color:#f90;
}
